@mixin Flexible($align: null, $just: null, $direction: null, $wrap: null, $gap: null) {
display: flex;
align-items: $align;
justify-content: $just;
flex-direction: $direction;
flex-wrap: $wrap;
gap: $gap;
}